table,td,th{
    border: 1px solid black;
    text-align:center;
}

table{
    border-collapse: collapse;
    width:100%;
    
}
tr:hover{
    background-color: blue;
    text-decoration: underline;
}